.dashboard{
    // background-image: url("../../../assets/23.png");
    background-position: top;
    background-repeat: repeat-y;
    background-size: contain;
    height: 160vmin;
    width: 100%;
    display: flex;
    padding-top: 10vmax;
    min-width: 700px;

    .dashBoardContainer{
            position: absolute;
            left: 20vmax;
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

        h1{
            width: fit-content;
            border-bottom: 2px solid #0003;
            padding-bottom: 1vmax;
            margin-top: 1rem;
        }
        .dashboardSummry{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;

            .DS1{
                width: 30vmax;
                height: 4vmax;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0009;
                border-radius: 10px;
                cursor: default;
                box-shadow: 2px 2px 10px #0002;
                background-color: #fff;
            }

            .dashboardSummaryBox2{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 3vmax 0;

                a{
                    height: 7vmax;
                    width: 8vmax;
                    margin: 0 4vmax;
                    border-radius: 50%;
                    background-color: #f03b3b;
                    display: flex;
                    font-size: 1.1rem;
                    flex-direction: column;
                    justify-content: center;
                    text-decoration: none;
                    color: #fff;
                    box-shadow: 2px 2px 15px #0007,
                    inset 10px 10px 20px #fff4,
                    inset -10px -10px 20px #0003;
                    transition: .2s;

                    p{
                        margin: 5px;
                    }
                }
                a:hover{
                    transform: scale(.9);
                }
            }
        }



        .lineChart{
            width: 40vw;
            // background-color: #ddd;
        }
        .doughnnutChart{
            width: 30vw;
            // background-color: #ddd;
        }

    }
}


@media screen and (max-width: 1000px) {

  
    .dashboard .dashBoardContainer .dashboardSummry .dashboardSummaryBox2{
        width: 60vmax;
        margin-left: 5vmax;
    }
    .dashboard .dashBoardContainer .dashboardSummry .dashboardSummaryBox2 a{
        height: 10vmax;
        width:10vmax;
    }
    .dashboard .dashBoardContainer .dashboardSummry .DS1{
        width: 30vmax;
        height: 7vmax;
    }
    .dashboard .dashBoardContainer .lineChart{
        margin: 5vmax 0;
        width: 60vw;
    }
    .dashboard .dashBoardContainer .doughnnutChart{
        margin: 5vmax 0;
        width: 45vw;
    }
};




@media screen and (max-width: 950px) {
    .dashboard .dashBoardContainer{
        left: 10vmax;
    }
}
@media screen and (max-width: 800px) {
    .dashboard .dashBoardContainer .dashboardSummry .dashboardSummaryBox2 a{
        height: 13vmax;
        width:13vmax;
        margin-bottom: 2vmax;
    }
    .dashboard .dashBoardContainer .lineChart{
        margin: 5vmax ;
        width: 79vw;
    }
    .dashboard .dashBoardContainer .doughnnutChart{
        margin: 5vmax 0;
        width: 55vw;
    }

}


@media screen and (max-width: 600px) {
    .dashboard{
        background-size: cover;
        height: 130vh;
        margin-top: 3vmax;
    }
    
    .dashboard .dashBoardContainer .lineChart{
        margin: auto ;
        width: 60vmax;
    }
    .dashboard .dashBoardContainer .doughnnutChart{
        width: 40vmax;

    }

    
}

@media screen and (max-width: 400px) {
    .dashBoardContainer{
        margin-left: 10vmax;
    }
    .dashboard .dashBoardContainer .lineChart{
        margin-left: -10vmax ;
        width: 60vmax;
    }
}