body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}
:root{
  --main: #f04444;
}
code {
  font-family: cursive
}

html {
  scroll-behavior: smooth;
  font-family: cursive;
}