.updatePasswordContainer {
    width: 30vmax;
    height: 53vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 10vmax;
    flex-direction: column;
    color: #0006  ;
    box-shadow: 3px 4px 10px #0005;
    border-radius: 10px;

    h1{
      border-bottom: 4px solid #0003;
      padding-bottom: 1vmax;
    }

    form{
      height: 50vh;
      width: 70%;
      display: flex;
      align-items: center;
    justify-content: center;
    flex-direction: column;


    div{
      margin: 10px;
      border: 2px solid #0003;
      display: flex;
      align-items: center;
      padding: .5vmax 2vmax; 

      input{
        border: none;
        outline: none;
        margin-left: 1vmax;
      }
    }
    .signupBtn{
      height: 3vmax;
      font-size: 1.1rem;
      border: none;
      outline: none;
      margin-top: 1.5vmax;
      width: 10vmax;
      border-radius: 10px;
      display: flex;
  align-items: center;
  justify-content: center;
      background: tomato;
      color: #fff;
      cursor: pointer;
    }
    .signupBtn:hover{
        background-color: #e74529;
        color: #ffffffd2;
    }
    }
  }
  
  