.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 8%;
  }
  
  .searchBox > .Syb {
    height: 8%;
    border-radius: 0%;
    background-color: tomato;
    border: none;
    padding: 1vmax;
    width: 10%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  
  .searchBox >  .Syb:hover {
    background-color: rgb(55, 97, 214);
  }

  .GBN{
    position: absolute;
    top: 2vmax;
    left: 2vmax;
    z-index: 1000;
    text-decoration: none;
    height: 3vmax;
    width: 7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color:rgb(55, 97, 214) ;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #0005;
  }
  
  @media screen and (max-width: 600px) {
    .searchBox >  .Syb {
      width: 100%;
      font: 300 4vw cursive;
      height: 10%;
    }
  
    .searchBox >  .Syb{
      height: 10%;
      width: 30%;
      font: 300 4vw "Roboto";
    }
  }
  