.contactContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: url("../../assets/3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f00;
    font-size: 1rem;
    cursor: default;
    a{
        text-decoration: none;
        color: #fff;
    }
}


@media screen and (max-width: 800px) {
    .contactContainer{
        font-size: 1.2rem;
    }
}