.ProductDetails{
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vmax;
  display: flex;
  margin-bottom: 2vmax;
  cursor: default;

  .PD2{
    border-left: 7px solid #0001;
  }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2vmax;
      box-sizing: border-box;
    }

    .CarouselImage {
      width: 20vmax;
    }
  
    div{
        margin: -1.8vmax;
    }

    .detailsBlock-1{
      width: 50%;
      padding: 0;
      margin-bottom: 1vmax;
      border-bottom: 1px solid #0002;
    }

    .detailsBlock-3{

      .detailsBlock-3-1{
        button{
          width: 10vmax;
          height: 3vmax;
          background-color: #fa3939;
          color: #fff;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          box-shadow: 2px 2px 5px #0003, inset 10px 12px 10px #fff5;
        }
      
      }

      .detailsBlock-3-1-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: -1vmax;

        button{
          border-radius: 0px;
          width: 2vmax;
          height: 1.5vmax;
          font-size: 1.1rem;
          background-color: #fa3939;
          border: none;
          color: #fff;
          
        }
        input{
          width: 2vmax;
          border: none;
          font-size: 1.1rem;
          padding-left: 1vmax;
          
        }
      }
    }
    .detailsBlock-4{
      margin-top: 1vmax;
      width: 70%;
      overflow: auto;
      font-size: 1.1rem;
    }
    .submitReview{
      font-size: 1.1rem;
      border: none;
      outline: none;
      background-color: #fa3939;
          color: #fff;
          padding: .8vmax 2vmax;
          border-radius: 10px;
          cursor: pointer;
    }
    .submitReview:hover{
      background-color: #f53737;
      color: #ffffffcb;
    }
}

.redColor{
  color: red;
  margin-left: .5vmax;
}
.greeColor{
  color:green;
  margin-left: .5vmax;
}

.reviewsHeading{
  border-bottom: 1px solid #0005;
}
.revCont{
  min-height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #0004;
}

.submitDialog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .submitDialogTextArea{
    margin: 2vmax 0;
  }
}

.redColor{
  color: red;

}
.greenColor{
  color:#05b439;
}