// bennettfeely.com/clippy
// redux dev-tools
// react dev-tools



.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .homeContainer {
    background: url("../../assets/1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10vmax;
    text-shadow: 1px 1px 1px #0007;
  }
  .homeContainer::after{
    position: absolute;
    content: "";
    margin-top: 57vmax;
    height: 10vmax;
    width: 100vmax;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #fff;
  }
  
  .homeContainer > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .homeContainer > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  .homeContainer > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1.2vmax "Roboto";
    border-radius: 10px;
    box-shadow: 2px 1px 5px #0005;
  }
  .homeContainer > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  

  .homeHeading
  {
    font-size: 2rem;
    color: #0008;

    div{
      height: 2px;
      width: 100%;
      margin-top: 1vmax;
      background-color: #0008;

    }
  }


@media screen and (max-width: 1200px) {
  .homeContainer{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 2rem;
    }
    a >button{
      font-size: 1.4rem;
    }
  }
    .homeHeading{
      font-size: 2rem;
    }
}

@media screen and (max-width: 1020px) {
  .homeContainer{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.4rem;
    }
    a >button{
      font-size: 1.2rem;
    }
  }
    .homeHeading{
      margin-top: 3vmax;
      font-size: 1.5rem;
    }
}
  
@media screen and (max-width: 650px) {
  .homeContainer {
    // background-size: contain;
    background-position: top;
    height: 100vmax;
  }
}