// bennettfeely.com/clippy
// redux dev-tools
// react dev-tools

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .homeContainer {
    background-image: url("../../assets/1.jpg");
    // background: linear-gradient(#000, #fff);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10vmax;
    text-shadow: 1px 1px 1px #0007;
  }
  
  .homeContainer > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .homeContainer > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  .homeContainer > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1.2vmax "Roboto";
    border-radius: 10px;
    box-shadow: 2px 1px 5px #0005;
  }
  .homeContainer > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  
  // .homeContainer::after {
  //   content: "";
  //   width: 100vw;
  //   height: 100vmin;
  //   position: absolute;
  //   top: 0%;
  //   left: 0;
  //   // clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  //   max-width: 100%;
  // }

  .homeHeading
  {
    font-size: 2rem;
    color: #0008;

    div{
      // position: relative;
      // bottom: 10px;
      // left: 0;
      height: 2px;
      width: 100%;
      margin-top: 1vmax;
      background-color: #0008;

    }
  }
  