.NoItem{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5vmax;

  .empty{
    font-size: 15vmax;
    color: #c41d07;
  }
  p{
    font-size: 3vmax;
  }

  button{
    width: 40vmax;
    height: 5vmax;
    background-color: #c41d07;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0003, inset 10px 12px 10px #fff5;
  }
  button:hover{
    background: #e05522;
  }
}


.cartPage{
  height: 80vh;
  width: 100%;
  min-width: 100%;
  margin-top: 10vmax;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;

  h1{
    color: #0006;
  }

  .cartHeadar{
    height: 5vmax;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;    
    font-size: 1.3rem;
    color: #fff;
    background-color: red;
  }

  .cartContainer{
    width: 79vw;
    height: 120px;
    display: grid;
    margin: 1vmax 0;
    border-bottom: 2px solid #0003;
    grid-template-columns: 3fr 1fr 1fr;   
    background-color: #fff6; 

    .cartInput{
        height: 20px;
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 3vmax;

        input{
          width: 4.5vmax;
          padding-left: 1vmax;
          border: none;
        }
        button{
            cursor: pointer;
        }
    }
    .cardSubtotal{
      margin-top: 3vmax;
      font-size: 1.1rem;
    }
  }
}


.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  
}

.cartGrossProfitBox {
  border-top: 3px solid red;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 0vmax 7.5vmax;
  // padding: 0 10vmax;

  font: 300 1.2vmax "Roboto";
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  flex-direction: column;
}

.checkOutBtn {
  display: flex;
  justify-content: center;
}
.checkOutBtn > button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.8vmax 4vmax;
  width: 50%;
  font: 300 1.1vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
}


@media screen and (max-width: 1000px) {
  .cartPage .cartHeadar {
    font-size: 1rem;
  }
  .cartPage .cartContainer .cardSubtotal{
      font-size: .9rem;
  }
  .cartGrossProfitBox {
    height: 20vmax;
    width: 30vmax;
    font-size: 1.4rem;
  }
  .checkOutBtn button{
    padding: 1vmax;
    font-size: 1.1rem;
  }
  .cartPage{
    padding-bottom: 4vmax;
  }
}
@media screen and (max-width: 620px) {
  .cartPage .cartHeadar{
    width: 142%;
    height: 50px;
  }
  .cartPage .cartContainer {
    width: 110%;
  }

  .CartCont{
    min-width: 98%;
  }
 
  .cartGrossProfitBox {
    height: 15vmax;
    font-size: 1.1rem;
  }
}
