.carditem{
  padding: 0 13vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div{
    display: flex;
    flex-direction: column;
    

    a{
      text-decoration: none;
      color: tomato;
      font-weight: bolder;
      font-size: 1.1rem;
      transition: .2s;
    }
    a:hover{
      transform: translateY(-4px);
      font-size: 1.2rem;
    }
    span{
      color: #0008;
    }
    p{
      border: 2px solid tomato;
      padding: .4vmax 1vmax;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
    }
    p:hover{
      background-color: tomato;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .carditem >*{
    font-size: .7rem;
  }
}
@media screen and (max-width: 730px) {
  .carditem div a{
    font-size: .9rem;
  }
}
@media screen and (max-width: 650px) {
  .carditem{
    width: 24vmax;
    margin-left: -10vmax;
  }
}