.cardItem{
  width: 10vmax;
  height: 10vmax;
  background: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.cartPage{
  height: 80vh;
  width: 100%;
  min-width: 100%;
  margin-top: 8vmax;

  .cartHeadar{
    height: 5vmax;
    width: 80%;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;    
  }

  .cartContainer{
    width: 80%;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;    

    .cartInput{
        height: 20px;
        display: flex;
        justify-content: center; 

        input{
          width: 1.5vmax;
          padding-left: 1vmax;
          border: none;
        }
    }
  }
}