.MuiStepConnector-line {
    display: none !important;
  }
  
  .MuiStepConnector-root {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.349);
  }
  
  .MuiStepConnector-active,
  .MuiStepConnector-completed {
    background-color: tomato;
  }
  .MuiStepper-alternativeLabel {
    align-items: flex-start;
    margin-top: 10vmax;
    margin-bottom: 2vmax;
    width: 60%;
    border-radius: 10px;
    box-shadow: 10px 2px 10px #0001;
    cursor: default;

    a{
      text-decoration: none;
    }
}
  