.paymentContainer {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    height: 65vh;
    width: 30vmax;
    margin: 2vmax;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0002;
  }
  
  .paymentForm {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .paymentForm > h3{
    font: 400 1.7vmax "Roboto";
    color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1vmax 0;
    text-align: center;
    width: 10vmax;
    // margin: auto;
    margin-bottom: 2vmax;
  }
  
  .paymentForm > div {
    display: flex;
    align-items: center;
    margin: .2vmax 0;
    width: 20vmax;
  }
  
  .paymentInput {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
  }
  
  .paymentForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .paymentFormBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1.1vmax "Roboto";
    width: 10vmax;
    padding: 0.9vmax 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 2.5vmax ;
    outline: none;
    border-radius: 10px;
  }
  
  .paymentFormBtn:hover {
    background-color: rgb(179, 66, 46);
  }
  
  @media screen and (max-width: 600px) {
    .paymentForm {
      width: 90%;
    }
    .paymentContainer{
    display: grid;
    place-items: center;
    background-color: white;
    height: 47vh;
    width: 41vmax;
    margin: 2vmax;
    padding-bottom: 5vmax;}
  
    .paymentForm > h3 {
      font: 400 3.7vmax "Roboto";
      color: rgba(0, 0, 0, 0.753);
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
      padding: 1vmax 0;
      text-align: center;
      width: 32vmax;}

    .paymentForm > p {
      font: 400 8vw "Roboto";
      padding: 4vw 0;
      width: 60%;
    }
  
    .paymentForm > div {
      margin: 4vw 0;
      display: flex;
      align-items: center;
      margin: .2vmax 0;
      width: 39vmax;
    }
  
    .paymentInput {
      padding: 6vw 10vw;
        width: 100%;
    }
  
    .paymentForm > div > svg {
      font-size: 6vw;
    }
  
    .paymentFormBtn {
      font: 300 4vw "Roboto";
      padding: 4vw;
      width: 24vmax;
    }
  }
  