.acxPor{
    // position: absolute;
    // margin-top: 10vmax;
    // top: 10vmax;
    // left: 65vmax;
    color: #0007;
    padding-bottom: 1vmax;
    width: 100%;
    border-bottom: 2px solid #0002;
    z-index: 10;
}

.profileContainer{
    height: 80vh;
    width: 80%;
    margin-top: 8vmax;
    background: #fff6;
    box-shadow: 2px 2px 10px #0002;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .Name{
        height: 100%;
        width: 50%;
        border-right: 5px solid #0002;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 300px;
            width: 310px;
            border-radius: 50%;
            border: 2px solid #0006;
        }

        a{
            text-decoration: none;
            font-size: 1.3rem;
            margin-top: 2vmax;
            height: 40px;
            width: 140px;
            border-radius: 10px;
            display: flex;
        align-items: center;
        justify-content: center;
            background: tomato;
            color: #fff;
        }
    }

    .Data{
        height: 80%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        div{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 20vmax;
            height: 40px;


            p{
                margin-left: 1vmax;
            }
        }
        .proLinek{
            width: 30vmax;
            margin-top: 3vmax;
            justify-content: space-around;

            a{
                text-decoration: none;
                height: 40px;
            width: 140px;
            border-radius: 10px;
            display: flex;
        align-items: center;
        justify-content: center;
            background: tomato;
            color: #fff;
            }
        }
    }
    
}


@media screen and (max-width: 940px) {
.profileContainer{
    flex-direction: column;
    padding-bottom: 5vmax;
    .Data{
        width: 70vw;

        div{
            width: 70%;
        }    
        .proLinek{
            a{
                margin-right: 1vmax;
                width: fit-content;
                padding: 1vmax 2vmax;
            }
            
        }
    }
    .Name{
        border-right: none;

    }
}
}


@media screen and (max-width: 600px) {
.profileContainer{
    flex-direction: column;
    .Data{
        width: 70vw;

        div{
            width:90%;
        }    
        .proLinek{
            width: 100%;
            a{
                margin-right: 1vmax;
            }
        }
    }
    .Name{
        border-right: none;
        img{
            height: 200px;
            width: 210px;
        }
    }
}
}


@media screen and (max-width: 870px) {
    .MuiFab-primary {
        top: 8vmax;
    }

}
@media screen and (max-width: 600px) {
    // .acxPor{
        //     top: 8vmax;
        //     left: 25vmax;
        // }
    .Data{
        width: 90vw;
        div{
            font-size: 2vmax;
            width: 100%;
        }    
    }
}